<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
       <class name="org.testing.TestScripts.TC1"/>
       <class name="org.testing.TestScripts.TC2"/>
       <class name="org.testing.TestScripts.TC3"/>
       <class name="org.testing.TestScripts.TC4"/>
       <class name="org.testing.TestScripts.TC5"/>
       <class name="org.testing.TestScripts.TC6"/>
       <class name="org.testing.TestScripts.TC7"/>
       <class name="org.testing.TestScripts.TC8"/>
       <class name="org.testing.TestScripts.TC9_Post"/>
       <class name="org.testing.TestScripts.TC10_GET"/>
       <class name="org.testing.TestScripts.TC11_GETParticular"/>
       <class name="org.testing.TestScripts.TC12_Update"/>
       <class name="org.testing.TestScripts.TC13_Delete"/>
       <class name="org.testing.TestScripts.TC14_GETAll_Real"/>
       <class name="org.testing.TestScripts.TC15_GETParticular_Real"/>
       <class name="org.testing.TestScripts.TC16_POST_Real"/>
       <class name="org.testing.TestScripts.TC17_PUT_Real"/>
       <class name="org.testing.TestScripts.TC18_DELETE_Real"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
